/* Primary
#61f2f5
Secondary
#ffffff
Tertiary
#e0e0e0
Accent
#723881 */

:root {
  --green: #61f2f5;
  --white: whitesmoke;
  --purple: #723881;
}

#root {
  display: flex;
  background-color: var(--white);
  justify-content: center;
}

body {
  background-color: var(--white);
  margin: 0px;
  box-sizing: border-box;
  font-family: 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

#headerContainer {
  width: 100%;
  background-color: var(--purple);
  padding: 8px;
}

#headerContainer h1 {
  color: var(--white);
  text-align: center;
}

#loginForm {
  border: 2px solid var(--brown);
  border-radius: 4px;
  margin-top: 100px;
  box-shadow: 0px 0px 2px 2px lightgray;
  offset: 10px 10px 10px 10px;
  padding: 25px;
  text-align: center;
}

#loginForm label {
  font-size: 0.75rem;
  margin-right: 20px;
}

#loginLine1 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#loginLine2 {
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.loginButton {
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

.profile-header,
.profile-body {
  background-color: var(--white);
}

.profile-container {
  background-color: var(--green);
}

.nav-bar {
  background-color: var(--white);
}

.home-container {
  color: var(--white);
}
